<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{title}}{{#icon}}<span class="float-right"><i class="{{icon}} fa-fw"></i></span>{{/icon}}</h5>
		{{#sub}}<h6 class="card-subtitle mb-2 text-muted">{{sub}}</h6>{{/sub}}
		{{#description}}<p class="card-text">{{description}}</p>{{/description}}
		
	</div>
	<div class="card-footer">
		<div class="btn-group" role="group">
		{{#buttons}}
			<button type="button" class="btn {{#style}}{{style}}{{/style}}{{^style}}btn-primary{{/style}} control-button" actions="{{actions}}">{{#bt-icon}}<i class="{{bt-icon}} fa-fw"></i>{{#lable}} {{/lable}}{{/bt-icon}}{{lable}}</button>
		{{/buttons}}		
		</div>
	</div>
</div>