<div class="card">
	<div class="card-body">
		<h5 class="card-title">{{name}}</h5>
		{{#description}}<h6 class="card-subtitle">{{description}}</h6>{{/description}}
	</div>
	<div class="card-footer">
		<div class="btn-group" role="group">
		{{#buttons}}
			<button type="button" class="btn {{#style}}{{style}}{{/style}}{{^style}}btn-primary{{/style}} control-button" code="{{code}}">{{#icon}}<i class="fas fa-fw fa-{{icon}}"></i>{{#lable}} {{/lable}}{{/icon}}{{lable}}</button>
		{{/buttons}}		
		</div>
	</div>
</div>